.App {
  display: flex;
}

.SideBar {
  background-color: aqua;
  width: 200px;
  height: 100vh;
}

.SideBarFooter {
  text-align: center;
  padding: 10px 0;
}

.SideBarFooter__add-button {
  background: white;
  border-radius: 100px;
  border: 2px solid #555;
  color: #555;
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  opacity: 0.6;
  cursor: pointer;
}

.MemoItem {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 8px;
}

.MemoItem.selected {
  background-color: rgba(100, 100, 100, 0.3);
  font-weight: 500;
}
.MemoContainer {
  background-color: beige;
  flex: 1;
}

.MemoContainer__title {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
}

.MemoContainer__content {
  width: 100%;
  min-height: 600px;
  box-sizing: border-box;
  font-size: 1.1rem;
}
